<div class="page-header">
  <h1>Meeting #<%= @meeting.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Held on</dt>
  <dd><%= @meeting.held_on %></dd>

  <dt>Course</dt>
  <dd><%= @meeting.course_id %></dd>

</dl>

<p><strong>List of students for meeting # <%= @meeting.id %>:</strong></p>

<table class="table table-hover">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>